@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* font-family: 'Overpass', sans-serif; */

:root {
  /* PRIMARY */
  --orange: hsl(25, 97%, 53%);
  /* NEUTRAL */
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

body,
html {
  font-size: 15px;
  background-color: var(--very-dark-blue);
  font-family: 'Overpass', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  transform: translateY(70%);
}

.main-container {
  max-width: 20rem;
  margin: auto;
  background: radial-gradient(ellipse at top, hsla(216, 12%, 54%, 0.1), hsl(210, 30%, 8%));
  border-radius: 1rem;
  padding: 30px;
  padding-bottom: 50px;
  display: none;
}

/* IMAGES */
img.star {
  width: 1rem;
  background-color: var(--dark-blue);
  padding: 12px;
  border-radius: 50%;
  margin-bottom: 13px;
}

/* CONTENT */
h1 {
  color: var(--white);
  font-size: 1.7rem;
  margin-bottom: 13px;
}

div.main-container p {
  color: var(--light-grey);
  line-height: 1.6;
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin: 0 -15px;
}

.one,
.two,
.three,
.four,
.five {
  background-color: var(--dark-blue);
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: var(--medium-grey);
  text-align: center;
  margin-bottom: 40px;
}

.submit {
  background-color: var(--orange);
  color: var(--white);
  padding: 15px 115px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  /* margin-left: 15px; */
  text-align: center;
  border-radius: 1.7rem;
}

@media only screen and (max-width: 1440px) and (min-width: 600px) {
  .main-container,
  .secondary-container {
    max-width: 23rem;
  }

  .submit {
    padding: 13px 138px;
  }

  .one,
  .two,
  .three,
  .four,
  .five {
    padding: 14px;
  }

  .buttons {
    margin: 0 -12px;
  }
}

/* HOVER EFFECTS */
.submit:hover,
.submit:active {
  color: var(--orange);
  background-color: var(--white);
}

.one:hover,
.two:hover,
.three:hover,
.four:hover,
.five:hover {
  background-color: var(--orange);
  cursor: pointer;
  color: var(--white);
}

.one:active,
.two:active,
.three:active,
.four:active,
.five:active {
  background-color: var(--light-grey);
  color: var(--white);
}


/* ADD JAVASCRIPT LATER TO SHOW THANK YOU CARD */
.secondary-container {
  /* display: none; */
  max-width: 20rem;
  margin: auto;
  background: radial-gradient(ellipse at top, hsla(216, 12%, 54%, 0.1), hsl(212, 32%, 8%));
  border-radius: 1rem;
  padding: 30px;
  padding-bottom: 50px;
}

img.illustration {
  margin-left: 4rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.selection {
  color: var(--orange);
  text-align: center;
  background-color: var(--dark-blue);
  padding: 5px 0;
  margin: 0 4.5rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.secondary-container h2 {
  text-align: center;
  color: var(--white);
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.last {
  text-align: center;
  color: var(--light-grey);
  line-height: 1.6;
}